@import url("./reset.css");

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: gray;
    margin: 0;
    font-family: sans-serif
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(153, 37, 101);
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
    
}

.article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    background-color: rgb(65, 181, 118);
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 150px;
    min-height: 60px;
    min-width: 100%;
    background-color: rgb(219, 36, 96); 
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(40, 99, 149);
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 90%;
    min-width: 100%;
    background-color: rgb(216, 109, 43);
    font-size: 1.5em;
    color: white;
    border-radius: 5px;
}

@media screen and (min-width: 992px) {
    .article {
        flex-direction: row;
        align-items: stretch;
    }

    .aside {
        flex: 0 0 30%;
        order: -1;
    }

}