@import url("./reset.css");

* {
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    /*border-radius: 5px;*/
}

body {
    /* display: flex; */
    min-height: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 2rem;
    background-color: gray;
    margin: 0;
    
}

.flexbox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    /* min-height: 100vh; */
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(153, 37, 101);
    
    
    border-radius: 5px;
    
}

.article {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: stretch; */
    /* min-width: 100%; */
    background-color: rgb(65, 181, 118);
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 150px;
    min-height: 60px;
    background-color: rgb(219, 36, 96); 
    border-radius: 5px;
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: rgb(40, 99, 149);
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    /* min-width: 100%; */
    background-color: rgb(216, 109, 43);
    
    border-radius: 5px;
}

@media screen and (min-width: 992px) {

    .desktop-wrapper {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex: 1;
        gap: 1rem;
        /* min-height: 100vh; */
    }

    .article {
        /* flex-direction: row; */
        align-items: stretch;
        gap: 1rem;
        flex: 1;
        order: 2;
    }

    .aside {
        flex: 0 0 18rem;
        order: 1;
    }

}